<?xml version="1.0" encoding="UTF-8"?>
<!-- disable strict to debug tests -->
<phpunit bootstrap="./test/Bootstrap.php"
         colors="true"
         strict="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         syntaxCheck="true"
         backupGlobals="true"
         backupStaticAttributes="false">

    <testsuites>
        <testsuite name="ColognePhonetic Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>